# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VS Code files
.vscode/

# Dependency directories (remove the comment below if you use Go modules)
vendor/

# IDE
.idea/
*.swp

# Project files
data/
*.db

app/
